{% load staticfiles %}
{% include 'common.html' %}
<html>
<style type="text/css">
    a:link{
        text-decoration:none;
    }
</style>
<body background="{% static 'images/background.jpg' %}">
<br>
<br>
<br>
<table align="center" border="2" width="500">
    <tr>
        <th colspan="2"><a href="{% url 'AddPlot' %}"  style="color:yellow"><h1>New Plot</h1></a></th>
    </tr>
        <tr>
            <th colspan="2"><a href="{% url 'editplot' %}" style="color:yellow" ><h1>Edit Plot</h1></a></th>
    </tr>
        <tr>
            <th colspan="2"><a href="{% url 'viewplot' %}" style="color:yellow"><h1>View Plot</h1></a></th>
    </tr>
    <tr><th ><a href="{% url 'back' %}" style="color:yellow">Back<img src="{% static 'images/back.png' %}" width="50" height="50"></a></th>
     <th><h3><form action="{% url 'logout' %}" method="post">
            {% csrf_token %}<button type="submit">Logout</button></form></h3></th></tr>
</table>
</body>
</html>